<!DOCTYPE HTML>
    {% include header.html %}
		<!-- Main -->
		<!--<section id="banner">-->
		<!--	<div id="headsplash">-->
		<!--		<img src="http://i.imgur.com/3wD8gum.jpg" alt="Claim Academy Programming School Logo Green"/>-->
		<!--	</div>-->
		<!--</section>-->
			<section id="main" class="container">
				<div class="box">
					<a href="http://claimacademystl.com/blog"><h3 id="teachername">Claim Academy Blog</h3></a>
					<hr>
					<h3 id="teachername">{{ post.title }}</h3>
					<h4 id="teacherrole">{% if subtitle %} {{ subtitle }} {% endif %}</h4>
					{{ content }}
				</div>
				<div class="box">
					<h3 id="teachername">Social Media</h3>
					<div id="socialfeed">
						<ul class="icons">
							<li><a href="http://twitter.com/claimacademystl" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="http://facebook.com/claimacademy" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.linkedin.com/company/claim-academy" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://plus.google.com/+Claimacademystl/posts" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
						</ul>
					</div>
					<p></p>
					<p id="socialcallout">Check out some of our latest posts below, or follow us by clicking the buttons above.</p>
					<!--<div class="arrow-down"></div>-->
					<div class="social-feed-container"> 
					</div>
				</div>
			</section>
	{% include footer.html %}
	</body>
</html>